header,
h1,
h2 {
	font-family: "Georgia", Times, Times New Roman, Serif;
	font-size: 24px;
}

body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background-color: #fff;
	color: #777;
	border-color: #ddd;
	background-repeat: repeat;
	background-image: url("../images/topography.png");
}

header {
	background-color: #ffffff;
	border-color: #cccccc;
	border-bottom-style: solid;
	border-width: 5px;
	overflow: auto;
	width: 100%;
	height: 100px;
}

h1 {
	float: left;
}

h2 {
	color: #4aaaa5;
}

footer {
	background-color: #666666;
	padding: 20px;
	clear: both;
	text-align: center;
	border-top-width: 5px;
	border-top-color: #4aaaa5;
	border-top-style: solid; 
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	color: white;
}

p {
	text-align: center;
	position: relative;
	color: #777;
	line-height: 150%;
}

img {
	margin: 15px;
	width: 15%;
}

input[type=text]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid lightgray;
	font-size: 18px;
}

textarea[name=message]{
	height: 400px;
	width: 600px;
	line-height: 1.25;
	margin: 8px 0;
	width: 100%;
	padding: 20px, 30px;
	font-size: 14px;
	color: lightgray;
}

input[type=submit]{
	background-color: #4aaaa5;
	color: white;
	height: 60px;
	width: 90px;
	font-size: 16px;
	border-color: lightgray;
	border-style: solid;
	border-size: 5px;
	clear: both;
}

a {
	text-decoration: none;
}

a:link {
	color: lightgray;
}

a:visited {
	color: #777;
}

a:hover {
	color: dimgray;
}

li {
	list-style: none;
	padding-top: 10px;
	display: inline;
}

.main-content {
	padding-right: 200px;
	padding-left: 200px;
	min-height: 100%;
	clear: both;
}

.portfolio {
	width: 40%;
	background-color: white;
	float: left;
	position: relative;
	padding: 20px;
}

.portfolio img {
	margin: 0px;
	width: 200px;
	height: 200px;
}

.galleryimages {
	padding-top: 75px;
	background-color: white;
	width: 60%;
	display: block;
	float:left;
	clear: none;
}

.desc {
	background-color: #4aaaa5;
	color: white;
	position: absolute;
	top: 75%;
	height: 20px;
	padding-top: 8px;
	width: 200px;
	text-align: center;
}

#name {
	background-color: #4aaaa5;
	color: #fff;
	padding: 20px;
	margin-left: 50px;
	height: 100px;
	font-style: bold;
	font-size: 28px;
}

#links {
	float: right;
	padding: 10px;
}

#about,
#contact,
#gallery {
	background-color: #fff;
	color: #4aaaa5;
	width: 60%;
	padding: 10px;
	float: left;
	border-bottom-style: solid;
	border-bottom-color: #777;
	border-bottom-width: 2px;
}

#description {
	background-color: #fff;
	width: 60%;
	overflow: visible;
	padding: 10px;
	float: left;
}

#profilepic {
	clear: both;
}

#connect {
	width: 20%;
	background-color: #fff;
	color: #4aaaa5;
	padding: 10px;
	margin-left: 100px;
	float: left;
	clear:none;
} 

#connectheader {
	border-bottom-color: #777;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#a,
#p,
#c {
	float: left;
	padding: 20px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-height: 2px;
	border-right-color: lightgray;
}

#contactstyle {
	border-bottom-style: solid;
	border-bottom-color: #777;
	border-bottom-width: 2px;
	width: 100%;
	font-size: 20px;
}

#gallery {
	clear: both;
}




